*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: white;
    height: 100vh;
    width: auto;
    display: grid;
   grid-template-rows:90px 90px 1fr 1fr 50px;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
}
.content{
    grid-column-start: 1;
    grid-column-end: 4;
}
.photo-card1{
    grid-column-start: 1;
    grid-column-end: 2;
}
.photo-card2{
    grid-column-start: 2;
    grid-column-end: 4;
}
.features{
    grid-column-start: 1;
    grid-column-end: 4;
}
.store{
    grid-column-start: 1;
    grid-column-end: 4;
}

.card{
    width: 90%;
    border-radius: 23px;
    padding: 2%;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 2px black;
}
.card img{
    width:20%;
    border-radius: 12px;
    border: 1px solid black;
    
}
.card button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 1%;
    margin-top: 3px;
    margin-bottom: 3px;
}
.card h2{
    font-size: 18px;
     font-weight: bold;
}
.card p{
    font-size:12px;
     font-style: italic;
}
.header{
    background-color: black;
}
.header h2{
    color: white;
    text-align: center;
    padding:5px;
}
.header p{
    color: white;
    text-align: center;
    padding: 2px;
}
.content nav{
background-color: rgb(37, 34, 34);
height:40%;
padding: 1%;
}
.content nav a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 8%;
}
.features{
    background-color: gray;
    padding: 12px;
}
.features h3{
    margin-bottom: 10px;
    text-align: center;
}
.features p{
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}
.features .click{
  margin-left: 43%;
  background-color: black;
  color: white;
  padding:12px;
  border: none;
  border-radius: 14px;
}
.store{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}